/**
 * Masthead
 * -------------------------------------------------------------------------- */
html {
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
}
body,html,div,p,h1{
    margin: 0px;
    padding: 0px;
}
.masthead {
    position: relative;
    min-width: 720px;
}
.masthead-video {
    z-index: 0;
}

.masthead-video-credit {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #fff;
    opacity: 0.6;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: -0.02em;
    padding-right: 10px;
    bottom: 10px;
    text-decoration: none;
    text-align: right;
    line-height: 1.5;
    -webkit-transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    transition: 0.2s ease all;
}
.masthead-video-credit span {
    display: block;
}
.masthead-video-credit:hover {
    opacity: 1;
}


/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@메인 수정 부분@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
.masthead-overlay {
    background-color: #000;
    opacity: 0.2;
    position: absolute;
    top: 0; left: 0;
    bottom: 0; right: 0;
    width: 100%;
    height: 100%;
}

#mainContent{
    position: absolute;
    width: 440px;
    height: 400px;
    left: 50%;
    top: 50%;
    opacity: 0;
    display: block;
    margin-left: -220px;
    margin-top: -190px;
    /*border:1px solid rgba(255,255,255,0.6);*/
    transition: 1.3s ease all;
    /*background-color: rgba(0,0,0,0.2)*/
}

h1{
    color: #fff;
    text-align: center;
    font-size: 45pt;
    margin: 60px 0px 25px 0px;
}
input{
    outline-style: none;
    display: block;
    margin: 0 auto;
}
input:-ms-input-placeholder { color: #fff;opacity: 0.9;  }
input::-webkit-input-placeholder { color: #fff;opacity: 0.9; }

input[type=text],input[type=password],input[type=button],input[type=submit] {
    border: 0px;
    background-color:rgba(200,200,200,0.2);
    border-radius:12px;
    color: #fff;
    width: 300px;
    height: 40px;
    text-indent: 20px;
    /*border: solid 1px #dcdcdc;
    transition: box-shadow 0.3s, border 0.3s;*/
}
input[type=button],input[type=submit]{
    text-indent: 0px;
    background-color: #5285c4;
}
.subtexta{
    width: 100%;
    text-align: center;
}
.subtexta span{
    display: inline-block;
    margin-top: 95px;
    color: rgba(255,255,255,0.9);
    font-size: 9pt;
}
.subtexta a{
    display: inline-block;
    margin-top: 15px;
    text-decoration: none;
    color: #fff;
    font-size:10pt;
}

#insertcontain{
    width: 500px;
    height: 660px;
    /*border:2px solid rgba(255,255,255,0.4);*/
    position:absolute;
    left: 50%;
    top: 50%;
    opacity:0;
    margin-left: -250px;
    /*margin-top: -330px;*/
    margin-top: -350px;
    background-color:rgba(0,0,0,0.4);
    overflow: hidden;
    display: none;
    transition: 0.4s all ease-in;
}
#insertcontain_relative{
    width: 500px;
    height: 660px;
    position: relative;
}
#insertcontain_absolute{
    position: absolute;
    width: 1000px;
    height: 660px;
    left: 0px;
    transition:0.6s all ease-in;
}
#mainInsert,#subInsert{
    width: 500px;
    height: 660px;
    float: left;
}
/*%%%%%%중복 체크 css%%%%%%*/
#id_wrong, #result,#result_pass{
    width: 300px;
    height: 18px;
    margin:0 auto;
    color: #fff;
    line-height: 26px;
    font-size: 9pt;
    display: none;
    text-indent: 20px;
}
/*%%%%%%%%%%%%%%%%%%%%%%%%*/
#subInsert{
    
}
#mainInsert {
    /*width: 500px;
    height: 660px;
    position:absolute;
    border:2px solid rgba(255,255,255,0.4);
    left: 50%;
    top: 50%;
    margin-left: -250px;
    margin-top: -330px;
    background-color:rgba(0,0,0,0.9);*/
}

#mainInsert h1{
    margin: 0px;
    margin-top: 30px;
    padding: 0px;
    font-size: 30pt;
}
#mainInsert p{
    margin: -7px 0px 5px 0px;
    padding: 0px;
    font-size: 18pt;
    color: #fff;
    text-align: center;
}
label{
    color: #fff;
}
#join_form input::-webkit-input-placeholder { 
    color: #fff;opacity: 0.8; 
    font-size: 10.5pt;
}
#join_form input[type=text],#join_form input[type=password]{
    background-color: rgba(80,80,80,0.8);
}
#join_form #idcheck{
    display:block;
    margin-top: 5px;
    font-size:10.5pt;
}
.input-group{
    padding-top: 20px;
}
.birthbox{
    width: 300px;
    height:45px;
    margin: 0 auto;
}
#join_form .birth{
    display:block;
    float: left;
}
#join_form .bir{
    width: 20px;
    text-align: center;
    float: left;
    color: #fff;
    font-size: 20px;
    line-height: 40px;
}
.boxbox{
    width: 300px;
    margin: 0 auto;
    padding-top: 18px;
}
.boxbox input[type=button]{
    width: 145px;
    float: left;
    /*background-color:rgba(255,255,255,0.3);*/
    background-color:rgba(80,80,80,0.8);
    
}
.boxbox input[type=button]:nth-child(2){
    margin-left: 10px;
}

#join_form #nextBtn{
    margin-top:15px;
    background-color:rgba(35,59,93,1);
}
.passwck{
    padding-top: 0px;
    padding-top: 7px;
}

/*장르 선택*/
#allimgbox{
    width: 600px;
    height: 550px
}
#allimgbox .imgbox{
    width: 163px;
    height: 180px;
    margin: 1.5px;
    float: left;
    position: relative;
}
#allimgbox .imgbox:hover{cursor: pointer}
#allimgbox .imgbox img{
    width: 100%;
    height: 100%;
}
#allimgbox .imgbox .imgtext{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
    text-align: center;
    color: #fff;
    font-size: 14pt;
    line-height: 180px;
    transition: 0.3s all ease;
}
#allimgbox .imgbox .selectbox{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(82,133,196,0.85);
    text-align: center;
    color: #fff;
    font-size: 14pt;
    line-height: 180px;
    transition: 0.3s all ease;
    z-index: 9;
    display: none;
}
#allimgbox .imgbox .imgtext .musictitle{
    transition: 0.3s all ease;
    display: none;
}
#alltext{
    clear: both;
    margin-top: 30px;
    display: none;
    transition: 0.3s all ease;
}
#alltext input[type=button]{
    background-color: #23365d;
}
#alltesttxt{
    margin-top: 30px;
    text-align: center;
    color: #fff;
    clear: both;
    font-size: 14pt;
    display: block;
    transition: 0.3s all ease;
}